$font-logo: "Pacifico-Regular";
$font-title-bold: "Raleway-Bold";
$font-text-light: "Raleway-Light";
$font-heavy: "Raleway-Heavy";
$color-dark: #262626;
$color-light: #ffffff;
$box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
