@import "normalize.scss";
@import "fonts.scss";
@import "variables.scss";

* {
  transition: all 0.2s ease-in;
}

*::before,
*::after {
  transition: all 0.2s ease-in;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1;
  background: rgba(249, 248, 251, 0.9);
  backdrop-filter: blur(4px);
  width: 100%;
  &-wrap {
    display: flex;
    justify-content: space-between;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 2vw 0 2vw;
  }
  .logo {
    font-family: $font-logo;
    font-size: 50px;
  }
  #header__burger-input {
    visibility: hidden;
  }
  &__burger {
    display: none;
    align-items: center;
    position: absolute;
    right: 5%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 9;
    border-radius: 3px;
    padding: 3px;
  }

  &__burger span,
  &__burger span::before,
  &__burger span::after {
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background: rgba(0, 0, 0, 1);
  }

  &__burger span::before {
    content: "";
    top: -10px;
  }

  &__burger span::after {
    content: "";
    top: 10px;
  }

  #header__burger-input:checked ~ .header-nav {
    visibility: visible;
    top: 0;
  }

  #header__burger-input:checked ~ .header__burger span {
    transform: rotate(-45deg);
    background: rgba(255, 255, 255, 1);
  }

  #header__burger-input:checked ~ .header__burger span::before {
    visibility: hidden;
  }
  #header__burger-input:checked ~ .header__burger span::after {
    transform: rotate(90deg);
    top: 0;
    background: rgba(255, 255, 255, 1);
  }

  &-nav {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    font-family: $font-title-bold;
    font-size: 16px;
    padding: 0;
    &__link {
      color: rgba(0, 0, 0, 1);
      text-decoration: none;
      &:hover {
        border-top: 3px solid rgba(255, 96, 51, 1);
        color: rgba(0, 0, 0, 1);
        text-decoration: none;
      }
    }
  }
}

main {
  .get-fresh {
    background-image: url(../img/block1-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    padding: 0 2vw 0 2vw;
    &-wrapper {
      display: flex;
      align-items: center;
      max-width: 1170px;
      margin: 0 auto;
      height: 100%;
    }
    &__info-block {
      width: 60%;
    }
    &__title {
      font-family: $font-heavy;
      font-size: 60px;
      margin: 0;
    }
    &__text {
      width: 80%;
      font-size: 17px;
    }
    &__button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 200px;
      height: 55px;
      box-shadow: 0px 0px 2px 2px gray;
      text-transform: uppercase;
      color: rgba(255, 255, 255, 1);
      padding: 12px;
      font-size: 20px;
      font-family: $font-text-light;
      background-color: rgba(255, 96, 51, 1);
      text-decoration: none;
      &:hover {
        text-decoration: none;
        background: rgb(0, 0, 0);
        color: rgba(255, 255, 255, 1);
      }
    }
  }
  .blog {
    background: rgba(176, 124, 247, 1);
    .blog-wrapper {
      max-width: 1170px;
      margin: 0 auto;
      padding: 1vh;
    }
    .blog-article-wrapper {
      display: flex;
      justify-content: space-between;
    }
    &__title,
    &__text {
      color: rgba(255, 255, 255, 1);
      text-align: center;
      margin: 0 auto;
    }
    &__text {
      padding: 0 20%;
    }

    .article-1 {
      background: linear-gradient(
          to top,
          rgba(0, 0, 0, 0.7),
          rgba(255, 255, 255, 0)
        ),
        url(../img/block-blog-mojito.jpg);
      border-radius: 2px;
    }
    .article-2 {
      background: linear-gradient(
          to top,
          rgba(0, 0, 0, 0.7),
          rgba(255, 255, 255, 0)
        ),
        url(../img/block-blog-pea-soup.jpg);
      border-radius: 2px;
      background-size: cover;
    }
    .article-3 {
      background: linear-gradient(
          to top,
          rgba(0, 0, 0, 0.7),
          rgba(255, 255, 255, 0)
        ),
        url(../img/block-blog-raspberry.jpg);
      border-radius: 2px;
    }

    .article {
      position: relative;
      height: 310px;
      width: 30%;
      max-width: 400px;
      &__link {
        display: flex;
        width: 100%;
        height: 100%;
        &:hover {
          text-decoration: none;
        }
      }

      &__date {
        position: absolute;
        top: 30px;
        left: 30px;
        margin: 0;
        color: rgba(255, 255, 255, 1);
        font-family: $font-heavy;
        width: 20%;
        background-color: rgba(0, 0, 0, 0.5);
        font-size: 32px;
        text-align: center;
        padding: 2px;
        border-radius: 10px;
        line-height: 35px;
      }
      &__title {
        font-family: $font-title-bold;
        color: rgba(255, 255, 255, 1);
        font-size: 20px;
        position: absolute;
        left: 0;
        bottom: 10%;
        margin: 0 20px;
      }
      &__author {
        position: absolute;
        color: rgba(255, 255, 255, 1);
        font-family: $font-text-light;
        font-size: 13px;
        bottom: 0;
        left: 0;
        margin: 10px 20px;
      }
    }
    &__button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 200px;
      height: 55px;
      box-shadow: 0px 0px 2px 2px gray;
      text-transform: uppercase;
      color: rgba(255, 255, 255, 1);
      padding: 12px;
      font-size: 20px;
      font-family: $font-text-light;
      background: rgba(247, 43, 59, 1);
      margin: 50px auto;
      text-decoration: none;
      &:hover {
        background: rgb(0, 0, 0);
      }
    }
  }
  .contact-section {
    .contact-wrapper {
      max-width: 1170px;
      margin: 0 auto;
      padding: 1vh;
    }
    background: url(../img/block-contact-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    .contact-form-wrapper {
      display: flex;
    }
    &__title {
      margin-top: 100px;
      text-align: center;
    }
    &__text {
      padding: 0px 30%;
      text-align: center;
    }
    .contact-form {
      form {
        display: flex;
        flex-direction: column;
        padding: 5px;
        width: 500px;
      }
      &__item {
        padding: 5px;
        background-color: rgba(0, 196, 196, 1);
        opacity: 0.5;
        border: none;
        margin: 5px;
        color: rgba(255, 255, 255, 1);
        font-weight: 900;
        &:focus {
          opacity: 1;
          border-left: 4px solid rgba(53, 91, 130, 1);
        }
        &::-webkit-input-placeholder {
          color: rgba(255, 255, 255, 1);
        }
      }
      &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 55px;
        box-shadow: 0px 0px 2px 2px gray;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 1);
        padding: 12px;
        font-size: 20px;
        font-family: $font-text-light;
        margin-top: 20px;
        margin-bottom: 20px;
        font-weight: bold;
        background: rgba(0, 196, 196, 1);
        border: none;
        align-self: center;
        &:hover {
          text-decoration: none;
          background: rgb(0, 0, 0);
        }
      }
    }
    .our-contacts {
      margin-left: 15%;
      display: flex;
      flex-direction: column;
      &__title {
        font-family: $font-title-bold;
        font-size: 17px;
        margin: 0;
      }
      &__text {
        font-family: $font-text-light;
        font-size: 20px;
        margin: 0;
      }
    }
  }
}

.footer {
  background: rgba(38, 38, 38, 1);
  height: 100px;
  display: flex;
  justify-content: center;
  .footer-wrapper {
    display: flex;
    max-width: 1170px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  &__copyright {
    color: rgba(163, 163, 163, 1);
    font-family: $font-text-light;
    font-size: 16px;
  }
  &__logo {
    &_link {
      font-family: $font-logo;
      text-decoration: none;
      color: rgba(163, 163, 163, 1);
      font-size: 25px;
      &:hover {
        text-decoration: none;
        color: white;
      }
    }
  }
  &__made-by {
    font-family: $font-text-light;
    color: rgba(163, 163, 163, 1);
    font-size: 15px;
    & span {
      font-family: $font-title-bold;
      color: rgba(255, 43, 88, 1);
    }
  }
}

@media screen and (max-width: 992px) {
  .header {
    .logo {
      font-size: 30px;
    }
    &__burger {
      display: flex;
    }

    &-nav {
      position: absolute;
      top: -100%;
      right: 0;
      visibility: hidden;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      height: 270px;
      background: rgba(38, 38, 38, 1);
      color: rgba(255, 255, 255, 1);
      margin: 0;
      padding: 0;
      font-size: 19px;
      &__item {
        height: 42px;
        width: 75%;
      }
      &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        color: rgba(255, 255, 255, 1);
        text-align: center;
        &:hover {
          background: rgba(255, 255, 255, 1);
          text-decoration: none;
          border: none;
        }
      }
    }
  }
  main {
    .blog {
      .article {
        margin-bottom: 20px;
        height: 200px;
        &__date {
          font-size: 20px;
          line-height: 20px;
          top: 10px;
          left: 10px;
        }
        &__title {
          font-size: 15px;
          margin: auto 10px;
        }
        &__author {
          font-size: 10px;
          margin: 5px 10px;
        }
      }
    }
    .contact-section {
      .contact-form form {
        width: auto;
      }
      .our-contacts {
        padding: 3%;
        margin-top: 5px;
        border-radius: 3px;
        height: 300px;
        margin-left: 0;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  main {
    .get-fresh {
      &-wrapper {
        justify-content: center;
      }
      &__info-block {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      &__title {
        text-align: center;
      }
      &__text {
        text-align: center;
        width: 80%;
      }
      &__button {
        width: 150px;
        height: 30px;
        font-size: 13px;
      }
    }

    .article-2,
    .article-3 {
      display: none;
    }

    .blog {
      .blog-article-wrapper {
        align-items: center;
        justify-content: center;
      }
      &__text {
        padding: 0;
      }

      .article {
        height: 250px;
        width: 50%;
      }
    }
    .contact-section {
      .contact-form-wrapper {
        flex-direction: column;
      }
      .our-contacts {
        height: auto;
        margin: 0 auto;
        text-align: center;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        &__title {
          width: 50%;
        }
        &__text {
          width: 50%;
          margin-bottom: 0;
          line-height: 25px;
        }
      }
    }
  }
  .footer {
    &__copyright {
      width: 40%;
      text-align: center;
    }
  }
}
